<div class="row">
	<div class="col-md-12">
		<div id="map" class="map"></div>
	</div>
</div>


<!-- - - - -  Map controls - - - - -->

<div class="row">
  <div class="col-md-12">
  	<label for="start_date">Fecha Inicial</label> <%= text_field_tag "start_date",'', :class=>"datepicker"%>
  	<label for="end_date">Fecha Final</label> <%= text_field_tag "end_date",'' ,:class=>"datepicker"%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  	<label>Tipos de Crimenes</label>
  	<select class="multiselect" multiple="multiple">
			<option value=1>Asesinatos</option>
      <option value=2>Violaci&oacute;n</option>
      <!-- Articulo 189 -->
      <!-- Robo es donde el sujeto arrebata la propiedad a la victima sin mayor fuerza -->
      <option value=3>Robos</option>
      <option value=4>Agresi&oacute;n Agravada</option>
      <option value=5>Escalamientos</option>
      <!-- Articulo 181 -->
      <!-- toda persona que se apropie sin violencia de bienes muebes pertenecientes a otras personas -->
      <option value=6>Apropiaci&oacute;n Ilegal</option>
      <option value=7>Vehiculos Hurtados</option>
      <option value=8>Incendios</option>
		</select>

  </div>
  <div class="col-md-6">
  	<label>Distancia en millas</label>
        <select id="distance">
          <option selected="selected">1</option>
          <option>3</option>
          <option>5</option>
        </select> 
  	</div>
	</div>
	<!-- - - - -  End of Map controls - - - - -->

	<div class="row">
  	<div class="col-md-12">
  		<!-- Aqui van las categorias --> 
  	</div>
  </div>


  <div class="row">
  	<div class="col-md-6">
  		<!-- Aqui van las Analisis 1 --> 
  	</div>
  	<div class="col-md-6">
  		<!-- Aqui van las Analisis 2 --> 
  	</div>
  </div>

   <div class="row">
  	<div class="col-md-6">
  		<!-- Aqui van las Analisis 3 --> 
  	</div>
  	<div class="col-md-6">
  		<!-- Aqui van las Analisis 4 --> 
  	</div>
  </div>

  <%= @data %>


<<<<<<< HEAD
=======
 <%= @data %>

<%= render "partials/graphs" %>
>>>>>>> 4fa08379c98ab365ed870671dbb69c4b1d98a3ef
